/animal_photos/simple_images
/animal_photos/duplicates
/__pycache__
/logs
/train/logs
/train/__pycache__
/animal_photos/.env
/animal_photos/extra
/esp-idf
/.venv
/.ruff_cache
/.pytest_cache
/.mypy_cache
__pycache__/
*.pt
